.awg__social {
    background-image: url('../../assets/discord-connect-bg.jpg');
    background-size: cover;
    padding: 1rem 0;
    height: 300px;
    border-top: 1px solid #796333;
    border-bottom: 1px solid #796333;

    &-innercontainer {
        max-width: 1600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &-text {
        color: var(--sand-white);
        font-family: var(--font-main);

        h2 {
            font-size: 3.2rem;
        }

        p {
            font-size: 1.6rem;
            margin: 2rem 0;
        }
    }

    &-button {
        display: flex;
        background-image: url('../../assets/discord-button.png');
        height: 100px;
        width: 100px;
        background-size: contain;
        background-repeat: no-repeat;

        a {
            height: 100%;
            width: 100%;
        }
    }

    &-button:hover {
        background-image: url('../../assets/discord-button-hover.png');
    }
}