.awg__spotlight-innercontainer {
    position: relative;
    max-height: 80vh;
    overflow: hidden;

    video {
        width: 100%;
    }
}

.spotlight__foreground {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    display: flex;
    height: 100%;

    &-wrap {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: auto;

        img {
            max-width: 100%;
            width: 850px;
        }
    }

    h2 {
        color: white;
        text-align: center;
        position: relative;
        top: -20px;
    }

    &-button {
        margin: auto;
        margin-top: 10px;
    }
}
