.awg__tutorial {
    background-image: url('../../assets/dirt-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 3rem 1rem 8rem 1rem;

    &-innercontainer {
        max-width: 1800px;
        margin: auto;
    }
}

.awg__tutrow {
    position: relative;

    &-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        > div {
            position: relative;
            width: 50%;
            overflow: hidden;
        }
    }

    &-text {
        color: var(--sand-white);
        font-family: var(--font-main);
        flex: 1;
        overflow: hidden; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 3.2rem;
        }

        p {
            font-size: 1.6rem;
            margin: 2rem 0;
        }
    }

    &-image {
        flex: 1;
        overflow: hidden;
        -webkit-mask-image: url('../../assets/tutorial/image-mask.png');
        mask-image: url('../../assets/tutorial/image-mask.png');
        -webkit-mask-mode: alpha;
        mask-mode: alpha;
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.awg__tutrow:nth-of-type(even) {

    .awg__tutrow-container {
        flex-direction: row-reverse;
    }

}
